@import "tailwindcss";

@theme {
  --color-primary: #7C3AED;
  --color-dark: #1E1B4B;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
    font-family: var(--font-sans);
  }
}
